<div class="container-fluid article-container">
    {{#each articles}}
        <div class="card">
            <div class="card-header">
                <h3>
                    <a class="article-link" target="_blank" rel="noopener noreferrer" href={{article.link}}>{{article.h1}}</a>
                </h3>
                <a class="btn btn-success save">
                    SAVE ARTICLE
                </a>
            </div>
            <div class="card-body">
                {{article.summary}}
            </div>
        </div>
    {{/each}}
</div>